{
	"presets": [
		"env",
		"react"
	],
	"env": {
		"production": {
			"presets": ["minify"]
		}
	},
	"plugins": [
		"react-hot-loader/babel",
		"transform-class-properties",
		"transform-object-rest-spread",
		["module-resolver", {
			"root": ["./client/src"]
		}]
	]
}