{
	"parser": "babel-eslint",
	"env": {
		"node": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false,
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules": {
		"strict": 0,
		"comma-dangle": 1,
		"indent": [
			"warn",
			"tab"
		],
		"no-tabs": 0,
		"no-console": "warn",
		"no-unused-vars": "warn",
		"eqeqeq": "warn",
		"quotes": [
			"warn",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"quote-props": [
			"error",
			"consistent-as-needed",
			{
				"keywords": true,
				"numbers": true,
				"unnecessary": true
			}
		],
		"key-spacing": [
			"warn",
			{
				"afterColon": true
			}
		]
	}
}