# enable linting of files by using the ! opperand
!.eslintrc.js
!.babelrc.config.js

# exclude files that dont matter
# /node_modules/* and /bower_components/* in the project root are ignored by default
.tmp/*
